<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deletar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Deletar Funcionário</h1>
    </header>
    <nav>
        <a href="{{ url_for('employee.index') }}">Início</a>
        <a href="{{ url_for('employee.DataView') }}">Funcionário Cadastrados</a>
        <a href="{{ url_for('employee.create') }}">Adicionar</a>
    </nav>
    <div class="container">
        <h2>Deletar Funcionário</h2>
        <form method="POST">
            <p>Voce esta ciente que quer deletar o Funcionário {{ employee.name }}?</p>
            <button type="submit">Deletar</button>
        </form>
    </div>
</body>
</html>
