<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atualizar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Atualizar Cadastro</h1>
    </header>
    <nav>
        <a href="{{ url_for('employee.index') }}">Início</a>
        <a href="{{ url_for('employee.DataView') }}">Funcionário Cadastrados</a>
        <a href="{{ url_for('employee.create') }}">Adicionar</a>
    </nav>
    <div class="container">
        <h2>Atualizar Cadastro</h2>
        <form method="POST">
            <label for="cpf">CPF:</label>
            <input type="text" id="cpf" name="cpf" value="{{ employee.cpf }}">
            <label for="name">Nome:</label>
            <input type="text" id="name" name="name" value="{{ employee.name }}">
            <label for="position">Cargo:</label>
            <input type="text" id="position" name="position" value="{{ employee.position }}">
            <button type="submit" class="update-button">Atualizar</button>
        </form>
    </div>
</body>
</html>
